body {
    background-color: #e0dede;
}

.container {
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

.base {
    margin: 5%;
    padding: 5%;
    background-color: white;
    text-align: justify;
    color: #8f8e8e;
    border-radius: 2%;
    line-height: 150%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadrePhoto {
    display: flex;
    justify-content: center;
}

.photo {
    width: 120px;
    height: 120px;
    border: 5px solid #e0dede;
    border-radius: 50%;
}

h1 {
    color: #d83434;
    text-align: center
}

h2 {
    text-align: center;
}

.link {
    background-color: #d83434;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transform: scale(1);
}

.link:hover {
    transform: scale(0.9);
}

.social {
    padding: 10%;
    display: flex;
    justify-content: space-around;  
    text-align: center;
}

i {
    transform: scale(1.1);
    color: #c4c3c3;
}

i:hover {
    transform: scale(1);
    cursor: pointer;
}

.image {
    width: 100px;
}

.film {
    margin-top: 15%;
    display: flex;
    justify-content: space-around; 
}

.text {
    width: 315px;
}

h3 {
    text-align: center;
}